Host *
ForwardAgent yes
ForwardX11 no
VisualHostkey yes
ControlMaster auto
ControlPath /tmp/.ssh-%C

Host gate.g-node.org
     User ckellner

Host git.gnome.org
     User gicmo
     Protocol 2
     IdentityFile ~/.ssh/id_gnome

Host vm
  HostName localhost
  Port 2222
  User gicmo
  StrictHostKeyChecking no
  UpdateHostKeys no
  UserKnownHostsFile /dev/null

Host vm-root
  HostName localhost
  Port 2222
  User root
  StrictHostKeyChecking no
  UpdateHostKeys no
  UserKnownHostsFile /dev/null
