Host *
IgnoreUnknown UseKeychain
UseKeychain yes
ForwardAgent yes
ForwardX11 no
VisualHostkey yes
ControlMaster auto
ControlPath /tmp/.ssh-%C

Host wopr.xatom.net
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host gate.g-node.org
  User ckellner

Host git.gnome.org
  User gicmo
  IdentityFile ~/.ssh/id_gnome

Host lydia.achinet.com
  IdentityFile ~/.ssh/id_ed25519
  User gicmo

Host 192.168.1.1
  User root
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host vm
  HostName localhost
  Port 2222
  User gicmo
  StrictHostKeyChecking no
  UpdateHostKeys no
  UserKnownHostsFile /dev/null

Host vm-root
  HostName localhost
  Port 2222
  User root
  StrictHostKeyChecking no
  UpdateHostKeys no
  UserKnownHostsFile /dev/null
